body {
    margin: 0;
}

header, footer {
    background-color: pink;
    height: 80px;
    font-weight: bolder;
    width: 100%;
    font-size: 25px;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}


.title {
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}


