body {
    margin: 0;
}

header {
    background-color: pink;
    height: 90px;
}

header p {
    margin: 0;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}


.title {
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}

footer {
    background-color: pink;
    height: 80px;
    font-weight: bolder;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


